.image {
  animation: MoveUpDown 1.75s linear infinite;
}

@keyframes MoveUpDown {
  0%,
  100% {
    translate: 0px 0px;
  }
  50% {
    translate: 0px 20px;
  }
}

.btnstyl {
  display: inline-block;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #03045e;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in;
  z-index: 1;
}

.btnstyl::before,
.btnstyl::after {
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  transform: skew(15deg);
  transition: all 0.5s;
  overflow: hidden;
  z-index: -1;
}

.btnstyl::before {
  left: -10px;
  background: #240046;
}

.btnstyl::after {
  right: -10px;
  background: #5a189a;
}

.btnstyl:hover::before,
.btnstyl:hover::after {
  width: 58%;
}

.btnstyl:hover span {
  color: #e0aaff;
  transition: 0.3s;
}

.btnstyl span {
  color: #03045e;
  font-size: 18px;
  transition: all 0.3s ease-in;
}
